body{
    font-family: "Lato";
    color: white;
    background-color: hsl(218, 28%, 13%);
}

#divCard{
    background-color: hsl(217, 28%,15%);
}

a.nav-link{
    color: white;
}

footer{
    background-color: hsl(216, 53%, 9%);
}

#divCard{
    background-color: hsl(218, 28%, 13%);
}

#divTestimonials{
    background-color: hsl(219, 30%, 18%);
}
